Repository SituDevelopment/devcontainers, pull requests merged in 2024-04, with the labels that each got.

#51 Add Docker extension to base template
  templates/base/.devcontainer.json
Labels: feature

#52 fix: Replaced gitless with gitlens.
  templates/base/.devcontainer.json
Labels: chore

#53 Add Docker to base template
  .devcontainer/devcontainer.json
  templates/base/.devcontainer.json
  templates/base/devcontainer-template.json
Labels: feature

#54 Add AWS CLI to base template
  templates/base/.devcontainer.json
Labels: feature

#55 Add devcontainer CLI to local devcontainer
  .devcontainer/devcontainer.json
Labels: feature

#56 Use Poetry Feature Instead of Pip Installation
  templates/python/.devcontainer.json
Labels: bug

#57 Better VS Code settings and Remove Ruff Extension
  templates/base/.devcontainer.json
  templates/python/.devcontainer.json
Labels: feature

#58 feat: Added yaml ext to base container.
  templates/base/.devcontainer.json
Labels: feature

#59 Feature: Mypy
  templates/python/.devcontainer.json
Labels: feature
