Repository SituDevelopment/devcontainers, pull requests merged in 2024-02, with the labels that each got.

#28 Add `chore` configuration to `labeller.yaml`
  .github/labeller.yaml
Labels: chore

#31 Utilise Automation suite's installation script
  features/automation/install.sh
Labels: enhancement

#34 Hard-code Node v20
  templates/base/.devcontainer.json
  templates/base/devcontainer-template.json
Labels: bug, enhancement

#35 Remove configuration options
  templates/python/.devcontainer.json
  templates/python/.devcontainer/install-with.sh
  templates/python/devcontainer-template.json
Labels: bug

#37 fix: Dont use python venvs in poetry installs.
  templates/python/.devcontainer.json
Labels: enhancement

#38 Mark container workspace directory as Git safe directory
  templates/base/.devcontainer.json
Labels: enhancement

#39 Mark directory as Git safe after starting container
  templates/base/.devcontainer.json
Labels: bug

#40 Document hacky Git fix
  templates/base/.devcontainer.json
Labels: chore

#42 Configure Dependabot to update weekly
  .github/dependabot.yaml
Labels: chore

#43 Group Dependabot updates
  .github/dependabot.yaml
  package-lock.json
Labels: dependencies, chore
